@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --c-l-main: #FF6B35;
    --c-l-add: #F7C59F;
    --c-l: #EFEFD0;
    --c-d-main: #004E89;
    --c-d-add: #1A659E;
}